:root[data-theme="light"] {
  --text: #0f100b;
  --background: #fcfcfc;
  --primary: #528a63;
  --secondary: #313333;
  --accent: #b2cb73;
}
:root[data-theme="dark"] {
  --text: #f4f5f0;
  --background: #030303;
  --primary: #76ad86;
  --secondary: #313333;
  --accent: #5f8026;
}

:root {
  background-color: var(--background);
  color: var(--text);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Eurostile", sans-serif;
}

body {
  /* padding: 5px; */
  background-color: var(--background);
  font-size: 20px;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0px;
  border-bottom: solid 2px var(--secondary);
  margin: 0;
}

img {
  height: 80px;
  width: auto;
}

a {
  color: var(--primary);
  font-weight: bold;
  transition: all 400ms;
}
a:hover {
  transition: all 500ms;
  color: var(--text);
  cursor: pointer;
}
#theme-button {
  padding: 1rem 2rem;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 500ms;
  font-weight: 700;
  color: var(--primary);
  letter-spacing: 1px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}
#theme-button:hover {
  transition: all 500ms;
  box-shadow: 0px 5px 20px var(--accent);
  background-color: var(--accent);
}

main {
  padding: 2rem 10rem;
  background-color: var(--accent);
  margin: 1rem 10rem;
  border-radius: 30px;
}
main p {
  margin-top: 0.5rem;
}

footer {
  border-top: 1px solid var(--text);
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--secondary);
}

footer p {
  text-align: center;
}

section {
  margin-top: 1rem;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: 1000;
}

aside {
  background-color: var(--accent);
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
}

nav a {
  text-decoration: none;
  font-size: 20px;
}

nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

:root[data-theme="dark"] .secondary {
  background-color: var(--secondary);
  color: var(--text);
}

:root[data-theme="light"] .secondary {
  background-color: var(--secondary);
  color: var(--background);
}

:root[data-theme="light"] .secondary a {
  color: var(--background);
}
:root[data-theme="dark"] .secondary a {
  color: var(--text);
}

:root[data-theme="light"] .secondary a:hover {
  color: var(--primary);
  transition: all 500ms;
}
:root[data-theme="dark"] .secondary a:hover {
  color: var(--primary);
  transition: all 500ms;
}

@media screen and (max-width: 900px) {
  main {
    padding: 2rem 5rem;
    margin: 5rem;
  }
  header {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  nav {
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  main {
    padding: 2rem 2rem;
    margin: 2rem;
  }
}

.character {
  border: 2px solid var(--secondary);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.details {
  border-left: 2px solid var(--secondary);
  padding-left: 1rem;
}

ul {
  list-style-type: none;
}
