:root[data-theme="light"] {
  --text: #0f100b;
  --background: #fcfcfc;
  --primary: #528a63;
  --secondary: #525856;
  --accent: #c2cfa1;
}
:root[data-theme="dark"] {
  --text: #f4f5f0;
  --background: #030303;
  --primary: #76ad86;
  --secondary: #a7aeac;
  --accent: #c2cfa1;
}

:root {
  background-color: var(--background);
  color: var(--text);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Eurostile", sans-serif;
}

body {
  padding: 5px;
}

h1 {
  font-family: "Eurostile", sans-serif;
  font-weight: 1000;
}
header {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 0rem 1rem;
}
a {
  color: var(--primary);
  font-weight: bold;
}
a:hover {
  transition: all 500ms;
  color: var(--accent);
  cursor: pointer;
}

#theme-button {
  padding: 1rem 2rem;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 500ms;
  font-weight: 700;
}
#theme-button:hover {
  transition: all 500ms;
  box-shadow: 0px 1px 20px var(--accent);
  background-color: var(--accent);
}
